#ignore changes to config file
charmpy.cfg

#ignore build files
docs/_build/
charmpy/charmlib/*.o
charmpy/charmlib/*.so
charmpy/charmlib/charmlib_cython.c
charmpy/charmlib/_charmlib_cffi.c
charmpy/charmlib/build/
__pycache__

#ignore some common tmp files
*.swp
*.pyc

#ignore macOS specific files
.DS_STORE
